[package]
name = "policy-metadata-helper"
version = "1.0.3"
edition = "2021"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
versions = { path = "../versions" }
