on: [push, pull_request]
name: Continuous integration
jobs:
  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rust.yml@847a8b8af7715a709c56426d3d298a90d7a6dad3 # v4.5.13

  check-metadata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: check-policy-metadata
        shell: bash
        run: |
          make check-policy-metadata
