on: [push, pull_request]
name: Continuous integration
jobs:
  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rust.yml@17f4dbf90d74f26892f7cc18179d08c4d63914d9 # v4.5.4

  check-metadata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - id: check-policy-metadata
        shell: bash
        run: |
          make check-policy-metadata
